<!DOCTYPE html>
<html>
  <head>
    <title>Hipster Habitat</title>
    <%= favicon_link_tag asset_path('tab_icon.jpg') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC0pn1ErvinGCDqDgU6Dvj6XeiOqNEF9L0"%>
    <script type="text/javascript">
      window.dropdownURL = "<%= image_url('tab_icon.jpg') %>"
      
    </script>
    

    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
